---
---

<footer class="text-sm text-gray-400 leading-[1.75] mt-4">
    <div>
        Made with <span style="color: #e25555;">&#9829;</span> in Istanbul
    </div>
</footer>

<style>
    footer {
        grid-area: footer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
