---
import Nav from "./Nav.astro";
// import HeaderLink from "./HeaderLink.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header>
    <a
        class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
        href="#main"
    >
        Skip to content
    </a>
    <a
        href="/"
        class="unset font-semibold hover:opacity-70 transition-opacity duration-200 hover:transition hover:duration-200"
    >
        Oğuzhan Durgut<span
            class="opacity-80 text-sm font-normal ml-0.5 text-center"
            >@odurgut</span
        >
    </a>
    <div class="flex justify-end items-center">
        <Nav />
        <div
            class="justify-self-end flex items-center content-center text-text-bold"
        >
            <DarkModeToggle />
        </div>
    </div>
</header>
<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>
