---
import SocialMediaLinks from "./SocialMediaLinks.astro";
---

<section class="mb-8">
    <div class="mb-4">
        <h1 class="text-xl md:text-xl tracking-tighter py-6 overflow-hidden">
            Software Enginering Intern at <a
                href="https://www.btsgrp.com"
                target="_blank">BTS Group</a
            > & <br />Computer Science Student at <a
                href="https://www.iuc.edu.tr"
                target="_blank">Istanbul University</a
            >
        </h1>
    </div>
</section>
<div>
    <p class="mb-8 opacity-70">
        Computer and stuff enthausist.Loves Linux hates Windows.
        Infrastructures, Systems and DevOps are fine, I like them. I am waiting
        to get old enough to not write Dockerfiles anymore. And please stop
        developing AI models. We all going to die. Or worse, we all going to
        become unemployed.
    </p>
</div>
<SocialMediaLinks />
