---
---

<div class="mt-14">
    <div class="unset flex flex-row gap-8 text-2xl opacity-75">
        <a
            href="https://github.com/odurgut"
            target="_blank"
            aria-label="GitHub"
            class="unset icon"
        >
            <i
                class="fa-brands fa-github hover:opacity-50 hover:transition-opacity duration-200"
            >
            </i>
        </a>
        <a
            href="https://twitter.com/0x091_"
            target="_blank"
            aria-label="Twitter"
            class="unset icon"
        >
            <i
                class="fa-brands fa-twitter hover:opacity-50 hover:transition-opacity duration-200"
            >
            </i>
        </a>
        <!-- <a
            href="https://www.linkedin.com/in/odurgut/"
            aria-label="Linkedin"
            class="unset icon"
        >
            <i
                class="fa-brands fa-linkedin hover:opacity-50 hover:transition-opacity duration-200"
            >
            </i>
        </a>
        <a
            href="mailto:ogzhandurgut@gmail.com"
            class="unset icon"
            aria-label="Mail to:"
        >
            <i
                class="fa-solid fa-envelope hover:opacity-50 hover:transition-opacity duration-200"
            >
            </i>
        </a> -->
    </div>
</div>

<style>
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
